@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Sansita+Swashed&display=swap');
.items-page {
    border: 3px solid rgb(147, 151, 161);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:rgb(0, 0, 0);
    justify-content:center;
    text-align:center;
    font-family:"Inconsolata";
}

a{
    display: flex;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    font-family: "Sansita Swashed";
}



